*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
.all-content{
    background: #f2f7f3;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #b2774c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
html, body {
  overflow-x: hidden;
}

#navbar{
    background-color: #b2774c;
}
#logo img{
    border-radius: 10px;
    width: 100px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/*inicio*/
#inicio{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./img/caratula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
#inicio .content{
    padding-top: 20px;
    margin-left: 56px;
}
#inicio .content h2{
    font-size: 50px;
    color: white;
}
#inicio .content p{
    margin-top: 10px;
    color: white;
}
p {
  text-align: justify;
}
/*nosotros*/
#nosotros{
    width: 100%;
    min-height: 100vh;
}
#nosotros .container{
    padding-top: 70px;
}

.heading{
    color: #b2744c;
    margin-bottom: 50px;    
    text-align: center;
    font-size: 30px;
    font-weight: bold;    
}

#nosotros .card{
    border-radius: 10px;
    height: 350px;
}
#nosotros .card img{
    border-radius: 10px; 
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
#nosotros-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2774c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#nosotros-btn:hover{
    background-color: #b2744c;
    color: white;
}
@media screen and(max-width:982px) {
    #about p{
        font-size: 8px;
    }
}
@media screen and(max-width:766px) {
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}

/*proyectos*/
#proyectos{
    width: 100%;
    /*background: #f7f5f2; */ 
}
#proyectos .container{
    margin-top: 70px;
}
.heading2{
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#proyectos .card{
    border-radius: 10px; 
    transition: 0.5s;
    cursor: pointer;   
}
#proyectos .card img{  
    border-radius: 10px;    
}
#proyectos .card:hover{
    transform: translateY(-10px);
}

/*articulos*/
#articulos{
    width: 100%;
}
.heading3{
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
.heading3 span{
    color: #b2744c;
}
#articulos .container{
    margin-top: 70px;
    padding-top: 70px;
}

/*cliente*/

/*contacto*/
#contacto{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contacto .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading5{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading5 span{
    color: #b2744c;
}
#contacto p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contacto input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contacto h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contacto #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contacto .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contacto{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contacto input{
        width: 250px;
    }
}

/*footer*/
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}
.footer-logo img{
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;  
}
.social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color:  black;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}
.flecha{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}


